@import "tailwindcss";

:root, body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@media (max-width: 1000px) {
    :root{
        --spacing: 0.15rem
    }
    .h-\[100px\] {
        height: 200px;
    }
}

@media (max-width: 600px) {
    :root{
        --text-7xl: 2.8rem;
        --text-6xl: 2.5rem;
    }

}

