@import "tailwindcss";

:root, body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@media (max-width: 1000px) {
    :root{
        --spacing: 0.15rem
    }
}

@media (max-width: 600px) {
    :root{
        --text-7xl: 3.2rem;
    }
}

